@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: local("☺"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_MontserratAlternates-Bold';
  src: url("../fonts/MontserratAlternates-Bold.eot");
  src: local("☺"), url("../fonts/MontserratAlternates-Bold.woff") format("woff"), url("../fonts/MontserratAlternates-Bold.ttf ") format("truetype"), url("../fonts/MontserratAlternates-Bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url("../fonts/MontserratAlternates-Regular.eot");
  src: local("☺"), url("../fonts/MontserratAlternates-Regular.woff") format("woff"), url("../fonts/MontserratAlternates-Regular.ttf") format("truetype"), url("../fonts/MontserratAlternates-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/*font-family: 'Dela Gothic One', cursive;*/

.header__top {
  padding: 15px 0;
  background-color: var(--gray);
}

.header__top-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.header__top-link a {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  position: relative;
}

.header__top-link a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -3px;
  left: 50%;
  background-color: #fff;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header__top-link a:hover::after {
  width: 50%;
}

.header__top-link a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -3px;
  right: 50%;
  background-color: #fff;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header__top-link a:hover::before {
  width: 50%;
}

.header__top-link a + a {
  margin-left: 30px;
}

.header__top-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.social-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.social-link a:first-child {
  padding-top: 2px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

.social-link a:first-child::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 6px;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.social-link a:first-child:hover::before {
  background-color: #25D366;
}

.social-link a:first-child:active::before {
  background-color: #40de2d;
}

.social-link a:nth-child(2) {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

.social-link a:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  left: 6px;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.social-link a:nth-child(2):hover::before {
  background-color: #25D366;
}

.social-link a:nth-child(2):active::before {
  background-color: #40de2d;
}

.social-link a:nth-child(3) {
  padding-top: 16px;
}

.social-link a:nth-child(4) {
  padding-top: 16px;
  margin-left: 19px;
}

.social-link a + a {
  margin-left: 10px;
}

.fa-instagram-square path {
  fill: var(--gray);
}

.fa-telegram-plane path,
.fa-viber path {
  fill: #fff;
}

.social-link .fa-telegram-plane,
.social-link .fa-viber {
  -webkit-transition: fill .5s ease-in;
  -o-transition: fill .5s ease-in;
  transition: fill .5s ease-in;
}

.social-link .fa-telegram-plane:hover path,
.social-link .fa-viber:hover path {
  fill: #25D366;
}

.social-link .fa-telegram-plane:active path,
.social-link .fa-viber:active path {
  fill: #40de2d;
}

.header__center {
  padding: 15px 0 28px 0;
}

.header__center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 290px;
}

.header__center-text {
  margin-top: 0px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  font-family: 'Conv_MontserratAlternates-Bold',Sans-Serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--gray);
}

.logo {
  width: 178px;
}

.header__bottom {
  display: none;
}

.header__bottom-text {
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}

:root {
  --gray: #4F4F4F;
  --green: #25D366;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Roboto',sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bacground-img.png);
  background-position: center;
  background-repeat: repeat-y;
  position: relative;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.modal-overlay.active {
  background-color: rgba(128, 128, 128, 0.796);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: .8s ease-in;
  -o-transition: .8s ease-in;
  transition: .8s ease-in;
}

body.nonescroll {
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.nonescroll-skills {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

button,
input,
textarea {
  outline: none;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -moz-apearance: none;
  -webkit-apearance: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

video {
  width: 100%;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none;
}

.courses__block-toggle .active-toggle,
.advantages__toggle-wrapper .active-toggle {
  -webkit-box-shadow: inset 0 0 20px #fff;
          box-shadow: inset 0 0 20px #fff;
  color: #fff;
  border: 1px solid #fff;
}

.courses__block-toggle .active-toggle::after,
.advantages__toggle-wrapper .active-toggle::after {
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
  line-height: 40px;
}

#back-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 13px;
  right: 20px;
  z-index: 5;
  font-size: 50px;
  font-weight: 700;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 9;
}

#back-top:hover {
  -webkit-box-shadow: 0px 0px 9px 2px #25D366;
          box-shadow: 0px 0px 9px 2px #25D366;
}

#back-top:active path {
  fill: #25D366;
}

#arrow-size {
  width: 50px;
  height: 50px;
}

#arrow-size path {
  fill: rgba(37, 211, 101, 0.5);
}

.eapps-instagram-feed-title {
  color: var(--gray);
}

.hide {
  display: none !important;
}

.btn {
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 35px;
  background-color: #851f1f;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #4d1313;
}

.btn-back {
  position: relative;
  width: 30px;
  height: 30px;
}

.btn-back:before {
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  background-color: black;
}

.btn-back:after {
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  background-color: black;
}

.about__img {
  margin-top: -1px;
}

.player-wrapper {
  width: 290px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.player-wrapper iframe {
  width: 100%;
  height: auto;
}

.skills {
  position: relative;
  padding: 50px 0;
}

.skills .skills-modal {
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 322px;
  bottom: 80px;
  left: 0;
  background-color: white;
  display: none;
  z-index: 10;
}

.skills .skills-modal__title {
  text-align: center;
}

.skills .skills-modal__social {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills-modal__social-link {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills-modal__container .btn {
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.skills .skills-modal__container .btn--animate::before {
  content: '';
  width: 15px;
  height: 200px;
  background: -o-linear-gradient(229deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  background: linear-gradient(221deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  position: absolute;
  left: 0;
  top: -80px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: btnAnimate;
          animation-name: btnAnimate;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes btnAnimate {
  0% {
    left: -10px;
  }

  100% {
    left: 120%;
  }
}

@keyframes btnAnimate {
  0% {
    left: -10px;
  }

  100% {
    left: 120%;
  }
}

.skills .skills-modal__container .fa-whatsapp path {
  fill: #43d854;
}

.skills .skills-modal__container .fa-telegram-plane path {
  fill: #0088cc;
}

.skills .skills-modal__container .fa-w-16 path {
  fill: #8f5db7;
}

.skills .skills-modal__container .btn-back {
  margin-left: auto;
  margin-top: 32px;
  cursor: pointer;
}

.skills .player-wrapper {
  margin-top: 11px;
  background-color: var(--gray);
}

.skills .player-wrapper video {
  height: 163px;
}

.skills .skills__title {
  font-family: 'Conv_MontserratAlternates-Bold',Sans-Serif;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: var(--gray);
}

.skills-modal__social-link a {
  position: relative;
}

.skills-modal__social-link a svg {
  width: 50px;
  height: 50px;
}

.skills-modal__social-link a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.skills-modal__social-link a:first-child::before {
  content: "";
  position: absolute;
  border: 2px solid #43d854;
}

.skills-modal__social-link a:hover:first-child::before {
  -webkit-box-shadow: 0 0 10px #43d854;
          box-shadow: 0 0 10px #43d854;
}

.skills-modal__social-link a:nth-child(2)::before {
  content: "";
  position: absolute;
  border: 2px solid #0088cc;
}

.skills-modal__social-link a:hover:nth-child(2)::before {
  -webkit-box-shadow: 0 0 10px #0088cc;
          box-shadow: 0 0 10px #0088cc;
}

.skills-modal__social-link a:nth-child(3)::before {
  content: "";
  position: absolute;
  border: 2px solid #8f5db7;
}

.skills-modal__social-link a:hover:nth-child(3)::before {
  -webkit-box-shadow: 0 0 10px #8f5db7;
          box-shadow: 0 0 10px #8f5db7;
}

.toggle-menu {
  margin-left: auto;
  width: 34px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 5px;
  border-radius: 50px;
  background-color: white;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.toggle-menu span:before,
.toggle-menu span:after {
  content: "";
  border-radius: 50px;
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.toggle-menu span:before {
  top: -10px;
}

.toggle-menu span:after {
  bottom: -10px;
}

.toggle-menu.active {
  position: absolute;
  right: 16px;
  z-index: 9;
}

.toggle-menu.active span {
  background-color: transparent;
}

.toggle-menu.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.toggle-menu.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
  content: "";
  background-color: var(--gray);
}

.mobile-menu {
  padding-left: 50px;
  padding-top: 57px;
  width: 350px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 3;
  -webkit-transition: 0.8s ease-in;
  -o-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.mobile-menu .header__top-link {
  display: block;
}

.mobile-menu .header__top-link a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: var(--gray);
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.mobile-menu .header__top-link a::after {
  content: "";
  height: 2px;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--gray);
}

.mobile-menu .header__top-link a::before {
  content: "";
  display: none;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.mobile-menu .header__top-link a:hover::after {
  background-color: var(--green);
}

.mobile-menu .header__top-link a:active::after {
  background-color: var(--green);
}

.mobile-menu .header__top-link a:hover {
  color: var(--green);
}

.mobile-menu .header__top-link a:active {
  color: var(--green);
}

.mobile-menu .header__top-link a + a {
  margin-left: 0;
  margin-top: 4px;
}

.mobile-menu .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.mobile-menu .social-link a + a {
  margin-left: 0;
}

.mobile-menu .social-link a:first-child {
  width: 49px;
  height: 49px;
}

.mobile-menu .social-link a:first-child::before {
  content: "";
  display: none;
}

.mobile-menu .social-link a:nth-child(2) {
  padding-top: 0;
  margin-top: -2px;
  margin-left: 20px;
}

.mobile-menu .social-link a:nth-child(2)::before {
  content: "";
  display: none;
}

.mobile-menu .social-link a:nth-child(3) {
  position: relative;
  width: 32px;
  height: 32px;
  padding-top: 19px;
  margin-left: 20px;
}

.mobile-menu .social-link a:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  top: 0;
  left: -6px;
  background-color: #0088CC;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.mobile-menu .social-link a:nth-child(4) {
  position: relative;
  padding-top: 15px;
  margin-left: 38px;
}

.mobile-menu .social-link a:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  top: 0;
  left: -6px;
  background-color: #665CAC;
  z-index: -1;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.mobile-menu .social-link .fa-instagram-square path {
  fill: #DD2A7B;
}

.mobile-menu .social-link .whatsapp-icn path {
  fill: #43D854;
}

.mobile-menu .social-link .fa-telegram-plane path {
  fill: #fff;
}

.mobile-menu .social-link .fa-viber path {
  fill: #fff;
}

.active-menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile-overlay.active {
  background-color: rgba(128, 128, 128, 0.796);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: .8s ease-in;
  -o-transition: .8s ease-in;
  transition: .8s ease-in;
}

body.nonescroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.advantages {
  position: relative;
  height: auto;
  padding: 50px 0 30px 0;
  background-color: var(--gray);
}

.advantages::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.64);
  z-index: -1;
}

.advantages__list-text-wrapper {
  margin-top: 30px;
}

.advantages__title h2 {
  font-family: 'Conv_MontserratAlternates-Bold', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.advantages__subtitle {
  margin-top: 13px;
  text-align: center;
}

.advantages__subtitle h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--green);
}

.advantages__subtitle span {
  font-size: 14px;
}

.advantages__list {
  padding-top: 25px;
}

.advantages__list p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #F2F2F2;
  text-align: center;
}

.advantages__list p + p {
  margin-top: 20px;
}

.advantages__toggle {
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid;
  background-color: var(--gray);
  -webkit-box-shadow: inset 0 0 5px #FFFFFF;
          box-shadow: inset 0 0 5px #FFFFFF;
  color: #ffffff8a;
  font-size: 14px;
  letter-spacing: 2.5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
}

.advantages__toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.advantages__toggle:hover {
  -webkit-box-shadow: inset 0 0 20px #FFFFFF;
          box-shadow: inset 0 0 20px #FFFFFF;
}

.advantages__toggle:active {
  background-color: #5c5b5b;
}

.advantages__toggle:first-child {
  padding: 0 59px;
}

.advantages__toggle:nth-child(2) {
  padding: 0 26px;
}

.advantages__toggle:nth-child(3) {
  padding: 0 41px;
}

.advantages__toggle:nth-child(4) {
  padding: 0 49px;
}

.advantages__toggle + .advantages__toggle {
  margin-top: 12px;
}

.advantages__toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}

.advantages__list-text {
  display: none;
}

.advantages__list-text:nth-child(4) {
  display: block;
}

.riviews {
  padding: 56px 0 10px 0;
}

.riviews__title {
  text-align: center;
}

.riviews__title h2 {
  font-family: 'Conv_MontserratAlternates-Bold';
  color: var(--gray);
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
}

.riviews__subtitle {
  text-align: center;
  margin: 9px 0 8px 0;
}

.riviews__subtitle h3 {
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  color: var(--green);
  position: relative;
}

.riviews__subtitle h3::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  top: 7px;
  left: -100%;
  background-color: var(--green);
}

.riviews__subtitle h3::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  top: 7px;
  right: -100%;
  background-color: var(--green);
}

.section-carousel {
  max-width: 290px;
  margin: 0 auto;
}

.owl-carousel.time {
  position: relative;
  margin: 0 auto;
  margin-bottom: 19px;
}

.slider {
  height: 405px;
  background-color: #fff;
}

.owl-nav {
  position: relative;
  margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 100px;
  background-image: url("../img/img-reviews/icn-riveis/arrow-left.svg");
}

.owl-carousel .owl-nav button.owl-next {
  right: 100px;
  background-image: url("../img/img-reviews/icn-riveis/arrow-right.svg");
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  top: 40px;
  width: 40px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.owl-carousel .owl-nav button.owl-prev::after,
.owl-carousel .owl-nav button.owl-next::after {
  content: "";
  position: absolute;
  width: 57px;
  height: 50px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  background-color: var(--gray);
  z-index: -1;
}

.owl-carousel .owl-nav button.owl-prev:hover::after,
.owl-carousel .owl-nav button.owl-next:hover::after {
  background-color: #797676;
}

.owl-carousel .owl-nav button.owl-prev:active::after,
.owl-carousel .owl-nav button.owl-next:active::after {
  background-color: #25D366;
}

.owl-dots {
  position: absolute;
  text-align: center;
  top: 113%;
  left: 50%;
  -webkit-transform: X(-50%);
      -ms-transform: X(-50%);
          transform: X(-50%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.owl-carousel button.owl-dot {
  margin-left: 9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #828282;
}

.owl-carousel button.owl-dot.active {
  background: var(--gray);
}

.riviews__musters {
  padding-top: 20px;
  margin: 0 auto;
}

.riviews__musters-block-row {
  width: 290px;
  margin: 0 auto;
}

.first-video {
  height: 200px;
}

.second-video {
  height: 200px;
  margin-top: 20px;
}

.riviews__musters-small-block {
  margin-top: 20px;
}

.riviews__musters-small-block .riviews__musters-video {
  height: 200px;
}

.riviews__musters-small-block .riviews__musters-video:last-child {
  margin-top: 20px;
}

iframe {
  width: 100%;
  height: 100%;
}

.portfolio {
  padding: 37px 0 61px 0;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 21px;
}

.portfolio__title h2 {
  font-size: 24px;
  font-family: 'Conv_MontserratAlternates-Bold', sans-serif;
  font-weight: 800;
  line-height: 1;
  color: var(--gray);
}

.portfolio__block-cards {
  max-width: 290px;
  margin: 0 auto;
}

.portfolio__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card-wrapper + .portfolio__card-wrapper {
  margin-top: 20px;
}

.portfolio__card + .portfolio__card {
  margin-top: 20px;
}

.portfolio__card {
  position: relative;
  overflow: hidden;
}

.portfolio__card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(105%);
      -ms-transform: translateX(105%);
          transform: translateX(105%);
  background: -o-linear-gradient(300.86deg, rgba(158, 161, 164, 0.46) 12.09%, rgba(255, 255, 255, 0.72) 73%);
  background: linear-gradient(149.14deg, rgba(158, 161, 164, 0.46) 12.09%, rgba(255, 255, 255, 0.72) 73%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.portfolio__card:hover .button::before {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio__card:hover::after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.button::before {
  content: "смотреть";
  position: absolute;
  font-size: 18px;
  color: #fff;
  width: 137px;
  height: 36px;
  background-color: var(--gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  line-height: 39px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -650%);
      -ms-transform: translate(-50%, -650%);
          transform: translate(-50%, -650%);
  z-index: 9;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.button:hover::before {
  background-color: #18ab55;
}

.button:active::before {
  background-color: #73f8ab;
}

.link {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Roboto';
  color: #187aab;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.link:hover {
  color: var(--green);
}

.courses {
  padding: 48px 0 80px 0;
  background-color: var(--gray);
  position: relative;
}

.courses__wrapper {
  margin: 0 auto;
  max-width: 420px;
}

.courses__title {
  text-align: center;
}

.courses__title h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--green);
}

.course__subtitle {
  text-align: center;
  margin: 0 auto;
}

.course__subtitle h5 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: #ffffffcf;
}

.courses__infarmation p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.courses__block-toggle {
  margin: 0 auto;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
}

.courses__block-toggle .courses__toggle + .courses__toggle {
  margin-top: 12px;
}

.courses__toggle {
  padding: 0 47px;
  height: 40px;
  line-height: 38px;
  border-radius: 50px;
  border: 1px solid;
  background-color: var(--gray);
  -webkit-box-shadow: inset 0 0 5px #FFFFFF;
          box-shadow: inset 0 0 5px #FFFFFF;
  color: #ffffff8a;
  font-size: 16px;
  letter-spacing: 2.5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  transition: .3s;
}

.courses__toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.courses__toggle:first-child {
  padding: 0 22px;
}

.courses__toggle:hover {
  -webkit-box-shadow: inset 0 0 20px #FFFFFF;
          box-shadow: inset 0 0 20px #FFFFFF;
}

.courses__toggle:active {
  background-color: #5c5b5b;
}

.courses__block {
  padding: 25px 0 40px 0;
}

.courses__block:first-child .courses__block-title {
  width: 700px;
}

.courses__block-title {
  text-align: center;
  margin-bottom: 25px;
}

.courses__block-title h3 {
  font-family: 'Montserrat Alternates',sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #ffffff;
}

.courses__block-list ul:last-child li:last-child {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
}

.courses__block-list {
  padding-left: 18px;
}

.courses__block-list li {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #ffffffcf;
  position: relative;
}

.courses__block-list li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  top: 7px;
  left: -16px;
  background-color: rgba(255, 255, 255, 0.863);
}

.courses__block-list ul + ul {
  margin-top: 25px;
}

.courses__block-list li + li {
  margin-top: 25px;
}

.block-price__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.1;
  color: #ffffffcf;
  margin-top: 25px;
}

.block-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  left: 19px;
}

.block-price__row div:first-child {
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
}

.block-price__row div:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffffcf;
}

.courses__infarmation {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffffcf;
  text-align: center;
}

.courses__infarmation p + p {
  margin-top: 21px;
}

.courses__block {
  display: none;
}

.courses__block-price {
  margin-top: 36px;
}

.courses__block.first {
  display: block;
}

.green-btn {
  position: relative;
  margin-top: 10px;
  width: 257px;
}

.courses-modal__container .btn {
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}

.courses-modal__container .btn--animate::before {
  content: '';
  width: 15px;
  height: 200px;
  background: -o-linear-gradient(229deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  background: linear-gradient(221deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  position: absolute;
  left: 0;
  top: -80px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: btnAnimate;
          animation-name: btnAnimate;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes btnAnimate {
  0% {
    left: -10px;
  }

  100% {
    left: 120%;
  }
}

.courses-modal {
  padding: 0 10px;
  position: absolute;
  width: 100%;
  height: 322px;
  bottom: 80px;
  left: 0;
  background-color: white;
  display: none;
  z-index: 10;
}

.courses-modal__title {
  text-align: center;
}

.courses-modal__social {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-modal__social-link {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-modal__social-link a {
  position: relative;
}

.courses-modal__social-link a svg {
  width: 50px;
  height: 50px;
}

.courses-modal__social-link a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.courses-modal__social-link a:first-child::before {
  content: "";
  position: absolute;
  border: 2px solid #43d854;
}

.courses-modal__social-link a:hover:first-child::before {
  -webkit-box-shadow: 0 0 10px #43d854;
          box-shadow: 0 0 10px #43d854;
}

.courses-modal__social-link a:nth-child(2)::before {
  content: "";
  position: absolute;
  border: 2px solid #0088cc;
}

.courses-modal__social-link a:hover:nth-child(2)::before {
  -webkit-box-shadow: 0 0 10px #0088cc;
          box-shadow: 0 0 10px #0088cc;
}

.courses-modal__social-link a:nth-child(3)::before {
  content: "";
  position: absolute;
  border: 2px solid #8f5db7;
}

.courses-modal__social-link a:hover:nth-child(3)::before {
  -webkit-box-shadow: 0 0 10px #8f5db7;
          box-shadow: 0 0 10px #8f5db7;
}

.courses-modal .btn-back {
  margin-left: auto;
  margin-top: 32px;
  cursor: pointer;
}

.courses-modal .fa-whatsapp path {
  fill: #43d854;
}

.courses-modal .fa-telegram-plane path {
  fill: #0088cc;
}

.courses-modal .fa-w-16 path {
  fill: #8f5db7;
}

.questions {
  padding: 40px 0;
}

.questions__title {
  margin-bottom: 10px;
  text-align: center;
}

.questions__title h2 {
  font-size: 24px;
  font-family: 'Conv_MontserratAlternates-Bold', sans-serif;
  color: var(--gray);
}

.questions__text.active p {
  font-weight: 500;
}

.questions__text {
  background-color: rgba(165, 236, 229, 0.26);
  padding: 18px 0 18px 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.questions__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
  color: #0d608a;
}

.questions__text:hover {
  background-color: rgba(104, 151, 146, 0.26);
}

.questions__text:active {
  background-color: rgba(188, 229, 225, 0.26);
}

.answer-text {
  margin-top: 7px;
  display: none;
}

.answer-text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #4F4F4F;
}

.questions__block + .questions__block {
  margin-top: 18px;
}

.contacts {
  padding: 30px 0 30px 0;
}

.contacts__title {
  text-align: center;
  margin-bottom: 10px;
}

.contacts__title h2 {
  font-family: 'Conv_MontserratAlternates-Bold';
  font-size: 24px;
  color: var(--gray);
}

.contacts__subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.contacts__subtitle h3 {
  font-size: 18px;
  color: var(--gray);
  font-weight: 300;
}

.contacts__icn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 277px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contacts__icn {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.contacts__icn:first-child,
.contacts__icn:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.contacts__icn:first-child svg,
.contacts__icn:nth-child(2) svg {
  width: 35px;
  height: 35px;
}

.contacts__icn:first-child {
  padding-right: 3px;
  background-color: #08c;
}

.contacts__icn:nth-child(2) {
  background-color: #665cac;
}

.contacts__icn:nth-child(3) {
  width: 51px;
  height: 51px;
  position: relative;
  z-index: 1;
}

.contacts__icn:nth-child(3) path {
  fill: #43d854;
}

.contacts__icn:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 2px;
  left: 2px;
  border-radius: 6px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-color: #fff;
  z-index: -1;
}

.contacts__icn:hover:first-child {
  -webkit-box-shadow: 0 0 22px 16px rgba(0, 136, 204, 0.5);
          box-shadow: 0 0 22px 16px rgba(0, 136, 204, 0.5);
}

.contacts__icn:hover:nth-child(2) {
  -webkit-box-shadow: 0 0 22px 16px rgba(103, 92, 172, 0.5);
          box-shadow: 0 0 22px 16px rgba(103, 92, 172, 0.5);
}

.contacts__icn:hover:nth-child(3)::after {
  -webkit-box-shadow: 0 0 22px 16px rgba(67, 216, 84, 0.5);
          box-shadow: 0 0 22px 16px rgba(67, 216, 84, 0.5);
}

.contacts__number-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__number-row a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.1;
  color: var(--gray);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.contacts__number-row a:hover {
  color: #25D366;
}

.contacts__number-row a:hover path {
  fill: #25D366;
}

.contacts__number-row a svg {
  width: 10px;
  height: auto;
  margin-right: 2px;
}

footer {
  padding: 58px 0 84px 0;
  background-color: var(--gray);
  color: #BDBDBD;
}

footer h4,
footer h5 {
  color: #ffffffe0;
}

.footer__row {
  width: 290px;
  margin: 0 auto;
}

.footer__left-col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.footer__left-col-title {
  margin-bottom: 4px;
}

.footer__left-col-title h4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
}

.footer__left-col-social-block {
  margin-bottom: 14px;
  margin-top: 14px;
}

.footer__left-col-social-block h6 {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.footer__left-col-social-icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left-col-social-icn a {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__left-col-social-icn a:hover {
  border: 1px solid #25D366;
}

.footer__left-col-social-icn a svg path {
  fill: #fff;
}

.footer__left-col-social-icn a:first-child {
  padding: 6px 8px 8px 6px;
}

.footer__left-col-social-icn a:nth-child(2) {
  margin-left: 16px;
  padding: 5px 7px 5px 7px;
}

.footer__nav ul {
  margin-top: 5px;
}

.footer__nav a {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
}

.footer__nav a + a {
  margin-top: 6px;
}

.footer__nav li + li {
  margin-top: 8px;
}

.footer__nav a {
  color: #BDBDBD;
}

.footer__nav a:hover {
  color: #25D366;
}

.footer__nav-title h5,
.footer__contacts-title h5 {
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
}

.footer__contacts {
  margin-top: 20px;
}

.footer__contacts-icn {
  margin-top: 7px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts-icn a + a {
  margin-left: 10px;
}

.footer__contacts-icn a {
  width: 50px;
  height: 50px;
  position: relative;
}

.footer__contacts-icn a:first-child {
  margin-top: -1px;
}

.footer__contacts-icn a:first-child path {
  fill: #dd2a7b;
}

.footer__contacts-icn a:first-child svg {
  width: 56px;
  height: 56px;
}

.footer__contacts-icn a:nth-child(2) path {
  fill: #43d854;
}

.footer__contacts-icn a:first-child,
.footer__contacts-icn a:nth-child(2) {
  z-index: 1;
}

.footer__contacts-icn a:first-child::after,
.footer__contacts-icn a:nth-child(2)::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  left: 5px;
  background-color: #fff;
  z-index: -1;
}

.footer__contacts-icn a:first-child:hover::after,
.footer__contacts-icn a:nth-child(2):hover::after {
  -webkit-box-shadow: 0 0 30px 1px #fff;
          box-shadow: 0 0 30px 1px #fff;
}

.footer__contacts-icn a:nth-child(3),
.footer__contacts-icn a:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.footer__contacts-icn a:nth-child(3) svg,
.footer__contacts-icn a:nth-child(4) svg {
  width: 37px;
  height: 37px;
}

.footer__contacts-icn a:nth-child(3) {
  padding-right: 3px;
  background-color: #08c;
}

.footer__contacts-icn a:nth-child(4) {
  padding-top: 2px;
  background-color: #665cac;
}

.footer__contacts-icn a:hover:nth-child(3) {
  -webkit-box-shadow: 0 0 30px 1px #fff;
          box-shadow: 0 0 30px 1px #fff;
}

.footer__contacts-icn a:hover:nth-child(4) {
  -webkit-box-shadow: 0 0 30px 1px #fff;
          box-shadow: 0 0 30px 1px #fff;
}

.phon-nmber a {
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phon-nmber:hover a {
  color: #25D366;
}

.wabinar {
  padding: 40px 0 0 0;
}

.wabinar .player-wrapper {
  margin-top: 30px;
}

.wabinar__title {
  margin: 0 auto;
  font-family: Conv_MontserratAlternates-Bold,Sans-Serif;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: var(--gray);
}

@media (min-width: 420px) {
  h1 {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .header__center-wrapper {
    max-width: 388px;
  }

  .container {
    min-width: 576px;
  }

  .player-wrapper {
    width: 500px;
    margin-top: 50px;
  }

  .player-wrapper iframe {
    height: 300px;
  }

  .skills .skills-modal__container {
    padding: 0 30px;
  }

  .skills .player-wrapper video {
    height: 281px;
  }

  .skills .skills__title {
    font-size: 24px;
  }

  .courses-modal {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .header__center {
    padding: 0;
  }

  .header__center-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    max-width: 700px;
  }

  .header__center-text {
    width: 402px;
    margin-left: 10px;
    margin-top: 32px;
    margin-bottom: 0;
    text-align: left;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .logo {
    width: 117px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__bottom {
    display: block;
    background-color: var(--gray);
    padding: 28px 0;
  }

  .header__bottom-text {
    font-size: 24px;
  }

  .container {
    max-width: 738px;
    min-width: auto;
  }

  .skills .skills-modal {
    width: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .advantages {
    padding: 55px 0 0 0;
    height: 740px;
    background-image: url(../img/baby-s-foot.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 7;
  }

  .advantages__list-text-wrapper {
    margin-top: 46px;
  }

  .advantages__title h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .advantages__subtitle {
    margin-top: 7px;
  }

  .advantages__subtitle h3 {
    font-size: 18px;
  }

  .advantages__subtitle span {
    font-size: unset;
  }

  .advantages__list {
    padding-top: 38px;
  }

  .advantages__list p {
    text-align: left;
    font-size: 18px;
  }

  .advantages__toggle {
    font-size: 12px;
  }

  .advantages__toggle:first-child,
  .advantages__toggle:nth-child(2),
  .advantages__toggle:nth-child(3),
  .advantages__toggle:nth-child(4) {
    padding: 0 32px;
  }

  .advantages__toggle + .advantages__toggle {
    margin-left: 12px;
    margin-top: 0;
  }

  .advantages__toggle-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }

  .riviews {
    padding: 50px 0 20px 0;
  }

  .riviews__title h2 {
    font-size: 24px;
  }

  .riviews__subtitle {
    margin: 20px 0 20px 0;
  }

  .riviews__subtitle h3 {
    font-size: 18px;
  }

  .riviews__subtitle h3::after {
    width: 67px;
    top: 10px;
  }

  .riviews__subtitle h3::before {
    width: 67px;
    top: 10px;
  }

  .section-carousel {
    max-width: unset;
  }

  .owl-carousel.time {
    margin-bottom: 40px;
  }

  .owl-carousel.time::after {
    content: "";
    position: absolute;
    height: 101%;
    width: 6px;
    top: -1px;
    left: -16px;
    background-color: #B2B2B2;
  }

  .slider {
    height: 314px;
  }

  .riviews__musters-block-row {
    width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .riviews__musters-block-row:nth-child(2).riviews__musters-block {
    width: 272px;
  }

  .riviews__musters-block:first-child {
    margin-right: 13px;
  }

  .first-video {
    width: 281px;
    height: 368px;
  }

  .second-video {
    height: 160px;
    margin-top: 0;
  }

  .riviews__musters-small-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 340px;
  }

  .riviews__musters-small-block .riviews__musters-video {
    width: 47.5%;
    height: unset;
  }

  .riviews__musters-small-block .riviews__musters-video:last-child {
    margin-top: 0;
  }

  .riviews__musters-small-block {
    height: 188px;
  }

  .portfolio__title {
    margin-bottom: 27px;
  }

  .portfolio__title h2 {
    font-size: 24px;
  }

  .portfolio__block-cards {
    max-width: 508px;
  }

  .portfolio__card + .portfolio__card {
    margin-top: 0;
    margin-left: 20px;
  }

  .portfolio__card {
    height: 325.33px;
    width: 244px;
  }

  .portfolio__card:nth-child(3) {
    margin-left: 0;
    margin-top: 20px;
  }

  .portfolio__card:nth-child(4) {
    margin-top: 20px;
  }

  .courses {
    padding: 60px 0 80px 0;
    background-image: url(../img/bcg-img-courses.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .courses::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: -1;
  }

  .courses__wrapper {
    max-width: unset;
  }

  .courses__title {
    text-align: left;
  }

  .courses__title h2 {
    font-size: 32px;
  }

  .course__subtitle {
    text-align: left;
  }

  .courses__block-toggle {
    margin: unset;
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 640px;
  }

  .courses__block-toggle .courses__toggle + .courses__toggle {
    margin-top: 0;
  }

  .courses__toggle {
    font-size: 18px;
    padding: 0 32px;
  }

  .courses__block {
    padding: 50px 0 16px 0;
  }

  .courses__block-title {
    width: 425px;
    margin: unset;
    text-align: left;
    margin-bottom: 29px;
  }

  .courses__block-title h3 {
    font-size: 22px;
  }

  .courses__block-list {
    padding-left: 0;
  }

  .courses__block-list ul {
    width: 75%;
  }

  .courses__infarmation {
    text-align: left;
  }

  .courses-modal__container .btn {
    margin: 0;
    margin-top: 30px;
    margin-right: auto;
  }

  .courses-modal {
    width: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .questions {
    padding: 60px 0 50px 0;
  }

  .questions__title {
    margin-bottom: 20px;
  }

  .questions__title h2 {
    font-size: 24px;
  }

  .questions__text {
    padding: 18px 0 18px 12px;
  }

  .questions__block + .questions__block {
    margin-top: 18px;
  }

  .contacts {
    padding: 8px 0 30px 0;
  }

  .contacts__title h2 {
    font-size: 24px;
  }

  .contacts__icn-row {
    margin-bottom: 20px;
    width: 277px;
  }

  footer {
    padding: 40px 0 71px 0;
  }

  .footer__row {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__left-col p {
    font-size: 18px;
  }

  .footer__left-col-title h4 {
    font-size: 22px;
  }

  .footer__left-col-social-block {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .footer__left-col-social-block h6 {
    font-size: 20px;
  }

  .footer__right-col {
    width: 44%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__nav ul {
    margin-top: 12px;
  }

  .footer__nav a {
    font-size: 18px;
  }

  .footer__nav li + li {
    margin-top: 4px;
  }

  .footer__nav-title h5,
  .footer__contacts-title h5 {
    font-size: 22px;
  }

  .footer__contacts {
    margin-top: 0;
  }

  .footer__contacts-icn {
    margin-top: 15px;
    margin-bottom: 22px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 132px;
    margin-bottom: 12px;
  }

  .footer__contacts-icn a:nth-child(3) {
    margin-left: 0;
    margin-top: 10px;
  }

  .footer__contacts-icn a:nth-child(4) {
    margin-top: 10px;
  }

  .phon-nmber {
    width: 133px;
  }

  .phon-nmber a {
    font-size: 18px;
  }

  .wabinar {
    padding: 50px 0 0 0;
  }

  .wabinar__title {
    width: 500px;
  }
}

@media (min-width: 920px) {
  .header__center-text {
    width: 100%;
  }

  h1 {
    font-size: 25px;
  }

  .logo {
    width: 174px;
  }
}

@media (min-width: 992px) {
  .courses__block-title {
    width: 615px;
  }
}

@media (min-width: 1200px) {
  .header__top-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__center-wrapper {
    max-width: 1100px;
  }

  .header__center-text {
    margin-top: 50px;
    width: 860px;
  }

  h1 {
    font-size: 40px;
  }

  .logo {
    width: 223px;
  }

  .header__bottom {
    padding: 35px 0;
  }

  .header__bottom-text {
    font-size: 48px;
  }

  .container {
    max-width: 1140px;
    padding: 0;
  }

  .player-wrapper {
    width: 1000px;
    margin-top: 100px;
  }

  .player-wrapper iframe {
    height: 550px;
  }

  .skills .skills-modal__container .btn {
    margin-top: 75px;
  }

  .skills .player-wrapper {
    margin-top: 35px;
  }

  .skills .player-wrapper video {
    height: 600px;
  }

  .skills .skills__title {
    font-size: 50px;
  }

  .skills {
    padding: 130px 0;
  }

  .toggle-menu {
    display: none;
  }

  .mobile-menu .header__top-link {
    display: none;
  }

  .advantages {
    padding: 133px 0 0 0;
    height: 1030px;
  }

  .advantages__list-text-wrapper {
    margin-top: 65px;
  }

  .advantages__title h2 {
    font-size: 50px;
    text-align: center;
  }

  .advantages__subtitle {
    text-align: center;
  }

  .advantages__subtitle h3 {
    font-size: 32px;
  }

  .advantages__list {
    padding-top: 49px;
  }

  .advantages__list p {
    text-align: left;
    font-size: 25px;
  }

  .advantages__toggle {
    padding: 0 54px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
  }

  .advantages__toggle:first-child,
  .advantages__toggle:nth-child(2),
  .advantages__toggle:nth-child(3),
  .advantages__toggle:nth-child(4) {
    padding: 0 54px;
  }

  .advantages__toggle + .advantages__toggle {
    margin-left: 48px;
  }

  .riviews {
    padding: 133px 0 50px 0;
  }

  .riviews__title h2 {
    font-size: 50px;
  }

  .riviews__subtitle {
    margin: 25px 0;
  }

  .riviews__subtitle h3 {
    font-size: 24px;
  }

  .riviews__subtitle h3::after {
    width: 120px;
    top: 13px;
    left: -117%;
  }

  .riviews__subtitle h3::before {
    width: 120px;
    top: 13px;
    right: -117%;
  }

  .owl-carousel.time {
    margin-bottom: 158px;
    max-width: 1000px;
  }

  .slider {
    height: 503px;
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: block;
  }

  .owl-dots {
    display: block;
  }

  .riviews__musters-block-row:nth-child(2).riviews__musters-block {
    width: 515px;
  }

  .riviews__musters-block:first-child {
    margin-right: 28px;
  }

  .first-video {
    width: 523px;
    height: 633px;
  }

  .second-video {
    height: 265px;
  }

  .riviews__musters-small-block {
    margin-top: 28px;
  }

  .riviews__musters-small-block {
    height: 340px;
  }

  .portfolio {
    padding: 80px 0 123px 0;
  }

  .portfolio__title {
    margin-bottom: 37px;
  }

  .portfolio__title h2 {
    font-size: 50px;
  }

  .portfolio__block-cards {
    max-width: 1036px;
  }

  .portfolio__card:nth-child(3) {
    margin-left: 20px;
    margin-top: 0;
  }

  .portfolio__card:nth-child(4) {
    margin-top: 0;
  }

  .courses {
    padding: 90px 0 123px 0;
  }

  .courses__title {
    text-align: center;
  }

  .courses__title h2 {
    font-size: 32px;
  }

  .course__subtitle {
    text-align: center;
    width: 691px;
  }

  .courses__block-toggle {
    max-width: unset;
    margin-top: 50px;
  }

  .courses__toggle {
    padding: 0 55px;
    height: 50px;
    line-height: 48px;
  }

  .courses__toggle:first-child {
    padding: 0 28px;
  }

  .courses__block {
    padding: 50px 0 20px 0;
  }

  .courses__block-title {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 42px;
    text-align: center;
  }

  .courses__block-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .courses__block-list ul {
    width: 45%;
  }

  .courses__block-list ul + ul {
    margin-top: 0;
  }

  .block-price__text {
    margin-top: 0;
  }

  .courses-modal__container .btn {
    margin-top: 75px;
  }

  .questions {
    padding: 83px 0;
  }

  .questions__title {
    margin-bottom: 40px;
  }

  .questions__title h2 {
    font-size: 50px;
  }

  .questions__text p {
    font-size: 24px;
  }

  .answer-text p {
    font-size: 18px;
  }

  .questions__block + .questions__block {
    margin-top: 30px;
  }

  .contacts {
    padding: 30px 0 90px 0;
  }

  .contacts__title {
    margin-bottom: 41px;
  }

  .contacts__title h2 {
    font-size: 50px;
  }

  .contacts__subtitle h3 {
    font-size: 40px;
  }

  .contacts__icn-row {
    width: 477px;
  }

  .contacts__number-row a {
    font-size: 30px;
  }

  .contacts__number-row a svg {
    width: 18px;
    height: auto;
    margin-right: 5px;
  }

  footer {
    padding: 60px 0 84px 0;
  }

  .footer__row {
    width: 90%;
  }

  .footer__left-col-title h4 {
    font-size: 25px;
  }

  .footer__left-col-social-block {
    margin-top: 22px;
  }

  .footer__nav ul {
    margin-top: 13px;
  }

  .footer__nav a {
    font-size: 20px;
  }

  .footer__nav a + a {
    margin-top: 7px;
  }

  .footer__nav-title h5,
  .footer__contacts-title h5 {
    font-size: 24px;
  }

  .footer__contacts-icn {
    width: unset;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }

  .footer__contacts-icn a:nth-child(3) {
    margin-left: 10px;
    margin-top: 0;
  }

  .footer__contacts-icn a:nth-child(4) {
    margin-top: 0;
  }

  .phon-nmber {
    width: unset;
  }

  .wabinar {
    padding: 90px 0 0 0;
  }

  .wabinar__title {
    width: 1000px;
    font-size: 50px;
  }
}

.webp body{ background-image: url(../img/bacground-img.webp); }

@media (min-width: 768px){

  .webp .advantages{ background-image: url(../img/baby-s-foot.webp); }
}

@media (min-width: 768px){

  .webp .courses{ background-image: url(../img/bcg-img-courses.webp); }
}